body {
	font-family: "Poppins", sans-serif;

	margin: auto;
}
.container {
	width: 85%;
	margin: auto;
}
.navbar {
	display: flex;
	justify-content: space-between;
	color: white;
	padding: 0 40px;
	background-color: black;
	/* position: fixed;
	width: 80%;
	margin-bottom: 100px; */
}
.navitems {
	display: flex;
	justify-content: space-between;
	width: 100%;

	margin: auto;
}

.nav-links {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-links > ul > li {
	margin: 20px;
}
li {
	display: inline;
}
.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.btn {
	background-color: #ed661f;
	text-align: center;
	color: white;
	font-family: "Inter";
	font-size: 20px;
	font-weight: 600;
	border: none;
	margin: 20px;
	padding: 20px;
}
.login {
	font-family: "Inter";
	font-size: 20px;
	font-weight: 600;
	border: none;
	text-decoration: none;
	color: white;
	background-color: inherit;
}
.headline {
	position: relative;
	height: 600px;

	/* background-image: url(./assets/images/image1.png); */
}
.headline > img {
	width: 100%;
	height: inherit;
}
.headline-text {
	padding: 60px;
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 20px;
}
.headline-image {
	position: absolute;
	top: 20px;
	right: 300px;
}
.headline-image > img {
	width: 600px;
	height: 300px;
}
.stats {
	position: absolute;
	bottom: -30px;
	right: 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 40%;
	margin: auto;
	box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
	background-color: white;
	padding: 20px;
	font-weight: bold;
}
.stats-details {
	text-align: center;
}
.inforcontainer {
	margin-left: 30px;
}
.aboutus {
	display: flex;
	justify-content: space-between;
	margin: 100px 60px;
	margin-bottom: 50px;
}
.infor {
	width: 50%;
}
a {
	text-decoration: none;
	color: white;
}
.active {
	border-bottom: 3px solid #ed661f;
}
.aboutus .text1 > h2 {
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 0px;
}
.hero-text .text2 > p {
	font-size: 25px;
	text-align: left;
}
.aboutus-image {
	/* width: 50%; */
	height: inherit;
}
.aboutus img {
	height: 400px;
}
.border {
	background-color: #ed661f;
	height: 5px;
	width: 80px;
	border-radius: 20px;
	margin: 0px;
}
.prdct-categories {
	text-align: center;
	width: 50%;
	margin: auto;
}
.border1 {
	position: absolute;
	background-color: #ed661f;
	height: 5px;
	width: 80px;
	border-radius: 20px;
	margin: 0px;
	right: 50%;
}
.prdct-categories > h2 {
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 0px;
	border-color: #ed661f;
}
/* .prdct-categories > p {
	border-top: 90px;
} */
h2 {
	margin-bottom: 0px;
}
.popular-items {
	display: flex;
	justify-content: space-between;
	/* justify-content: center; */
	/* gap: 20px; */
	align-items: center;
	margin-top: 30px;
	/* margin-left: 20px; */
	/* width: 80%; */
}
.items {
	width: 20%;
}

#bold {
	font-weight: bold;
}
.images {
	width: 100%;
}
.items .images img {
	width: 100%;
}
.most-populartext {
	margin-left: -10px;
	width: 80%;
}
.see-all {
	float: right;
	font-size: medium;
}
.more {
	background-color: inherit;
	color: black;
	border: none;
	font-size: 20px;
}
.more i img {
	color: #ed661f;
	/* position: absolute;
	bottom: -100px;
 */
}
.border2 {
	background-color: #ed661f;
	height: 5px;
	width: 40px;
	border-radius: 20px;
	margin: 0px;
}
.hr-wide {
	height: 40px;
	background-color: lightgray;
	margin-top: 100px;
	border: none;
}
.reviews {
	margin-top: 50px;
	margin-bottom: 50px;
}
.custrev {
	display: flex;
	justify-content: space-between;
	gap: 60px;
	align-items: center;
	padding: 50px;
}
.customer-review {
	width: 30%;
	padding: 30px;
	box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
i {
	color: #ed661f;
	font-size: 48px;
}
#grey {
	font-size: 48px;
	color: lightgrey;
}
.customerinfor {
	display: flex;
	justify-content: space-between;
	padding-right: 100px;
	margin-top: 50px;
}
